body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f4f7;
}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}