.home-container {
  text-align: center;
  margin-top: 80px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn.green {
  background: #28a745;
}
