:root {
  --azul-escuro: #1b3f66;
  --azul-claro: #2d8cff;
  --cinza-escuro: #1f2937;
  --cinza-claro: #f2f4f7;
  --verde: #4cc38a;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2d8cff, #1b3f66, #2d8cff);


}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 420px;
  max-width: 90%; 
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.inputForm {
  border: 2px solid #f2f4f7;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #2d8cff;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #5ca5ff;
}

.google-btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.google-btn:hover {
  border: 1px solid #2d8cff;
}
.logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 150px;
  height: auto;
}
